.App {
  text-align: center;
  background-image: url("/media/background.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  color: white;
  padding: 120px 120px;
}

@media only screen and (max-width: 700px) {
  .App {
    padding: 120px 20px;
  }

  .mobile-window {
    padding-left: 10px;
    padding-right: 10px;
  }
}
